*{
    font-family:Poppins,sans-serif
}
@media screen and (max-width: 640px) {
    .login-form-sm-style {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}